* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin: 0 0 10px 0;
  background-color: rgb(59, 59, 59);
  padding: 10px 0 10px 0;
  color: white;
}

.products {
  max-width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.product {
  padding: 20px;
}

.products img {
  width: 100%;
  padding: 20px;
}

button {
  margin: 10px;
  padding: 8px;
  font-size: 18px;
  border-radius: 8px;
  background-color: rgb(50, 50, 136);
  color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.356) 5px 6px 15px;
}
